body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	background: #fff;
}
.play {
	width: 64px;
	height: 64px;
	border-radius: 100px;
	margin: 0px auto;
	box-shadow: inset 0 0 70px rgba(0,0,0,0.4);
	color: #fff;
	font-size: 3em;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 15px 0 0 4px;
	position: relative;
	top: 10px;
	cursor: pointer;
	float: left;
}

#container {
	float: right;
	width: 100%;
	clear: both;
}
.play:hover {
	box-shadow: inset 0 0 90px rgba(0,0,0,0.6);	
}

.pabtn {
	position: relative;
	left: -2px;
	top: 2px;
	display: none;
}

.pabtn .bar {
	display: inline-block;
	width: 8px;
	height: 28px;
	background: #fff;
}

#header {
	background: #536163;
	height: 85px;
	background: rgb(100, 190, 202);
	box-shadow: inset 0 -23px 30px -29px rgba(0,0,0,0.6), inset 0 -55px 82px -30px rgba(146, 53, 247, 0.6);
}

#content {
	padding: 20px 30px;
}

h1 {
	font-size: 4em;
	border-bottom: 2px solid #000;
	display: inline-block;
	padding-bottom: 6px;
}

#content div {
	font-size: 2em;
	line-height: 36px;
}

#content a {
	color: #33b6db;
	text-decoration: none;
	border-bottom: 2px solid #33b6db;
	font-weight: bold;
}

#content a:hover {
	color: #82d4eb;
	border-bottom: 2px solid #82d4eb;
}

.music-author {
	font-size: 2em;
	float: left;
	position: relative;
	top: 28px;
	left: 20px;
	color: #fff;
	display: inline-block;
}

.music-author a {
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #fff;
}

.music-author a:hover {
	border-bottom: none;
}

.center-player {
	width: 400px;
	margin: 0px auto;
}
/* ========= IGNORE */

.travel {
	padding: 10px;
	background: rgba(0,0,0,0.6);
	border-bottom: 2px solid rgba(0,0,0,0.2);
	text-decoration: none;
}

.travel a {
	font-family: 'Georgia', serif;
	text-decoration: none;
	border-bottom: 1px solid #f9f9f9;
	color: #f9f9f9;
	font-size: 1.6em;
	display: inline-block;
}